/* Front-end CSS */
/* Base */
a {
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form {
  color: white;
}
form p {
  font-size: 1em;
  margin-bottom: 1rem;
}
form label {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}
form input[type=text],
form input[type=email],
form input[type=tel],
form textarea,
form select {
  width: 100%;
  padding: 8px;
  border: 2px solid white;
  border-radius: 0;
  background: transparent;
  background-clip: padding-box;
  color: white;
  box-sizing: border-box;
}
form input[type=submit] {
  display: block;
  margin: 0 auto;
  padding: 12px 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  color: #ef773b;
  background-color: #dde164;
  box-sizing: border-box;
}
form textarea {
  min-height: 130px;
}
form select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #EEE;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000000;
}
form ::placeholder {
  color: #AAA;
  opacity: 1;
}
form :-ms-input-placeholder {
  color: #AAA;
}
form ::-ms-input-placeholder {
  color: #AAA;
}

/* Layout */
#footer a {
  text-decoration: none;
}
#footer .footer-widgets {
  padding: 30px 0;
  color: #ffffff;
  background-color: #ef773b;
}
#footer .footer-widgets .container, #footer .footer-widgets .entry-header > *:not(.alignwide):not(.alignfull),
#footer .footer-widgets .entry-content > *:not(.alignwide):not(.alignfull),
#footer .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
  display: grid;
  grid-gap: 15px;
}
@media (min-width: 768px) {
  #footer .footer-widgets .container, #footer .footer-widgets .entry-header > *:not(.alignwide):not(.alignfull),
#footer .footer-widgets .entry-content > *:not(.alignwide):not(.alignfull),
#footer .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  #footer .footer-widgets .container, #footer .footer-widgets .entry-header > *:not(.alignwide):not(.alignfull),
#footer .footer-widgets .entry-content > *:not(.alignwide):not(.alignfull),
#footer .footer-widgets .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    grid-template-columns: repeat(4, 1fr);
  }
}
#footer .footer-widgets .widget-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
@media (min-width: 992px) {
  #footer .footer-widgets .widget-content {
    align-items: flex-start;
  }
}
#footer .footer-copyright {
  padding: 12px 0;
  font-size: 14px;
  color: #ffffff;
  background-color: #ee6d2d;
}
#footer .footer-copyright .container, #footer .footer-copyright .entry-header > *:not(.alignwide):not(.alignfull),
#footer .footer-copyright .entry-content > *:not(.alignwide):not(.alignfull),
#footer .footer-copyright .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 576px) {
  #footer .footer-copyright .container, #footer .footer-copyright .entry-header > *:not(.alignwide):not(.alignfull),
#footer .footer-copyright .entry-content > *:not(.alignwide):not(.alignfull),
#footer .footer-copyright .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    flex-direction: row;
  }
}

/* Components */
.container, .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 575.98px) {
  .container, .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container, .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container, .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container, .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull),
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #FFF;
}
.navbar img {
  width: 100%;
  height: auto;
}
@media (max-width: 575.98px) {
  .navbar img {
    max-width: 250px;
  }
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M0 277.333h384V320H0zm0-106.666h384v42.667H0zM0 64h384v42.667H0z'/%3E%3C/svg%3E");
}
@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-collapse:not(.show) {
  display: none;
}
.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  list-style: none;
  z-index: 1080;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav {
    flex-direction: row;
  }
}
.navbar-collapse .navbar-nav > .menu-item a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  color: #5e5f5b;
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav > .menu-item a {
    padding: 0.5rem 1rem;
  }
}
.navbar-collapse .navbar-nav.has-sub-menu-to-left .sub-menu {
  right: 0;
}
.navbar-collapse .navbar-nav.has-sub-menu-to-left .sub-menu .sub-menu {
  top: 0;
  right: 100%;
}
.navbar-collapse .navbar-nav.has-sub-menu-to-right .sub-menu {
  left: 0;
}
.navbar-collapse .navbar-nav.has-sub-menu-to-right .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
@media (min-width: 992px) {
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.menu-item-has-children {
  position: relative;
  display: inline-block;
}
.menu-item-has-children::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  border: solid #5e5f5b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
}
@media (min-width: 992px) {
  .menu-item-has-children::after {
    right: 0;
  }
}
.menu-item-has-children .sub-menu {
  display: none;
  min-width: 160px;
  padding: 0;
  list-style: none;
  background-color: #fefeff;
}
.menu-item-has-children .sub-menu a {
  display: block;
  padding: 8px 15px;
}
.menu-item-has-children .sub-menu a:hover {
  background-color: #ddd;
}
@media (min-width: 992px) {
  .menu-item-has-children .sub-menu {
    position: absolute;
  }
}
.menu-item-has-children:hover > .sub-menu {
  display: block;
}

.entry-header,
.entry-content,
.wp-block-cover__inner-container {
  width: 100% !important;
}
.entry-header .alignfull,
.entry-content .alignfull,
.wp-block-cover__inner-container .alignfull {
  max-width: 100%;
}
.entry-header .alignwide,
.entry-content .alignwide,
.wp-block-cover__inner-container .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .entry-header .alignwide,
.entry-content .alignwide,
.wp-block-cover__inner-container .alignwide {
    max-width: 1360px;
  }
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination .current {
  color: #7c91ae;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.widget img {
  max-width: 100%;
  height: auto;
}
.widget ul {
  padding: 0;
  list-style: none;
}
.widget li {
  margin-bottom: 12px;
  color: white;
}
.widget-title {
  font-size: 1.4rem;
}

/* Templates */

/*# sourceMappingURL=styles.css.map */
