// Navbar

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #FFF;

    img {
        width: 100%;
        height: auto;

        @media (max-width: 575.98px) {
            max-width: 250px;
        }
    }
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M0 277.333h384V320H0zm0-106.666h384v42.667H0zM0 64h384v42.667H0z'/%3E%3C/svg%3E");
    }

    @media (min-width: 992px) {
        display: none;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;

    &:not(.show) {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 24px;
        list-style: none;
        z-index: 1080;

        @media (min-width: 992px) {
            flex-direction: row;
        }

        &>.menu-item {
            a {
                display: block;
                padding: .5rem 0;
                text-decoration: none;
                color: #5e5f5b;

                @media (min-width: 992px) {
                    padding: .5rem 1rem;
                }
            }
        }

        &.has-sub-menu-to-left {
            .sub-menu {
                right: 0;

                .sub-menu {
                    top: 0;
                    right: 100%;
                }
            }
        }

        &.has-sub-menu-to-right {
            .sub-menu {
                left: 0;

                .sub-menu {
                    top: 0;
                    left: 100%;
                }
            }
        }
    }

    @media (min-width: 992px) {
        display: flex !important;
        flex-basis: auto;
    }
}

.menu-item-has-children {
    position: relative;
    display: inline-block;

    // OBS: Precisa ser melhorado com JS
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        border: solid #5e5f5b;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: translateY(-50%) rotate(45deg);
        -webkit-transform: translateY(-50%) rotate(45deg);

        @media (min-width: 992px) {
            right: 0;
        }
    }

    .sub-menu {
        display: none;
        min-width: 160px;
        padding: 0;
        list-style: none;
        background-color: #fefeff;

        a {
            display: block;
            padding: 8px 15px;

            &:hover {
                background-color: #ddd;
            }
        }

        @media (min-width: 992px) {
            position: absolute;
        }
    }

    // Show the dropdown menu
    &:hover {
        &>.sub-menu {
            display: block;
        }
    }
}