// Widgets

.widget {
    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        margin-bottom: 12px;
        color: white;
    }

    .current-cat {}
}

.widget-title {
    font-size: 1.4rem;
}