// Footer

#footer {
    a {
        text-decoration: none;
    }

    .footer-widgets {
        padding: 30px 0;
        color: #ffffff;
        background-color: #ef773b;

        .container {
            display: grid;
            grid-gap: 15px;

            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .widget-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-grow: 1;

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                align-items: flex-start;
            }
        }
    }

    .footer-copyright {
        padding: 12px 0;
        font-size: 14px;
        color: #ffffff;
        background-color: darken(#ef773b, 3%);

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                flex-direction: row;

            }
        }
    }
}