// Style Variation for cover

.is-style-flower-frame-one,
.is-style-flower-frame-two,
.is-style-flower-frame-three,
.is-style-flower-frame-four {
    overflow: hidden;
}

.is-style-flower-frame-one {
    &::before {
        content: url(../../svg/flor-01.svg) !important;
        position: absolute;
        display: flex;
        align-items: flex-start;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: transparent !important;
        opacity: 1 !important;

        @media (min-width: 992px) {
            width: 20vw;
        }
    }

    &::after {
        content: url(../../svg/flor-02.svg) !important;
        position: absolute;
        display: flex;
        align-items: flex-end;
        right: 0;
        width: 35vw;
        height: 100%;
        background-color: transparent !important;
        opacity: 1 !important;

        @media (min-width: 992px) {
            width: 15vw;
            align-items: center;
        }
    }
}

.is-style-flower-frame-two {
    &::after {
        content: url(../../svg/flor-03.svg) !important;
        position: absolute;
        display: flex;
        align-items: flex-end;
        right: 0;
        width: 50vw;
        height: 100%;
        transform: rotateY(180deg);
        background-color: transparent !important;
        opacity: 1 !important;

        @media (min-width: 992px) {
            width: 20vw;
        }
    }
}

.is-style-flower-frame-three {
    &::before {
        content: url(../../svg/flor-04.svg) !important;
        position: absolute;
        display: flex;
        align-items: flex-end;
        left: 0;
        width: 50vw;
        height: 100%;
        background-color: transparent !important;
        opacity: 1 !important;

        @media (min-width: 992px) {
            width: 10vw;
        }
    }
}

.is-style-flower-frame-four {
    &::before {
        content: url(../../svg/flor-05.svg) !important;
        position: absolute;
        display: flex;
        align-items: flex-end;
        left: 0;
        width: 50vw;
        height: 100%;
        background-color: transparent !important;
        opacity: 1 !important;

        @media (min-width: 992px) {
            width: 10vw;
        }
    }

    &::after {
        content: url(../../svg/flor-06.svg);
        position: absolute;
        display: flex;
        align-content: flex-end;
        flex-direction: column;
        right: 0;
        width: 100vh;
        height: 100%;
        background-color: transparent !important;
        opacity: 1 !important;

        @media (min-width: 992px) {
            width: 38vw;
        }
    }
}