// Style Variation for paragraph and headings
h1.is-style-cursive-letter {
	font-size: 120px;
}

h2.is-style-cursive-letter {
	font-size: 100px;
}

h3.is-style-cursive-letter {
	font-size: 80px;
}

h4.is-style-cursive-letter {
	font-size: 60px;
}

h5.is-style-cursive-letter {
	font-size: 40px;
}

h6.is-style-cursive-letter {
	font-size: 20px;
}

h1.is-style-cursive-letter,
h2.is-style-cursive-letter,
h3.is-style-cursive-letter,
h4.is-style-cursive-letter,
h5.is-style-cursive-letter,
h6.is-style-cursive-letter {
	line-height: 0.65em;
}

.is-style-cursive-letter {
	font-family: 'Reenie Beanie', cursive;
	font-weight: lighter;
}