@charset "UTF-8";
/* Gutenberg Block Editor Styles */
.wp-block {
  max-width: 1140px;
}

.wp-block[data-align=wide] {
  max-width: 1360px;
}

.wp-block[data-align=full] {
  max-width: none;
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-gallery .blocks-gallery-item {
  position: relative;
  margin: 0 !important;
}
.wp-block-gallery .blocks-gallery-item a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.wp-block-gallery .blocks-gallery-item a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.wp-block-gallery .blocks-gallery-item a::after {
  content: "⚲";
  position: absolute;
  font-size: 5rem;
  color: #ffffff;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}
.wp-block-gallery .blocks-gallery-item:hover a {
  transform: scale(0.85);
}
.wp-block-gallery .blocks-gallery-item:hover a::before {
  background-color: rgba(239, 119, 59, 0.5);
}
.wp-block-gallery .blocks-gallery-item:hover a::after {
  opacity: 1;
}

h1.is-style-cursive-letter {
  font-size: 120px;
}

h2.is-style-cursive-letter {
  font-size: 100px;
}

h3.is-style-cursive-letter {
  font-size: 80px;
}

h4.is-style-cursive-letter {
  font-size: 60px;
}

h5.is-style-cursive-letter {
  font-size: 40px;
}

h6.is-style-cursive-letter {
  font-size: 20px;
}

h1.is-style-cursive-letter,
h2.is-style-cursive-letter,
h3.is-style-cursive-letter,
h4.is-style-cursive-letter,
h5.is-style-cursive-letter,
h6.is-style-cursive-letter {
  line-height: 0.65em;
}

.is-style-cursive-letter {
  font-family: "Reenie Beanie", cursive;
  font-weight: lighter;
}

.is-style-flower-frame-one,
.is-style-flower-frame-two,
.is-style-flower-frame-three,
.is-style-flower-frame-four {
  overflow: hidden;
}

.is-style-flower-frame-one::before {
  content: url(../../svg/flor-01.svg) !important;
  position: absolute;
  display: flex;
  align-items: flex-start;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: transparent !important;
  opacity: 1 !important;
}
@media (min-width: 992px) {
  .is-style-flower-frame-one::before {
    width: 20vw;
  }
}
.is-style-flower-frame-one::after {
  content: url(../../svg/flor-02.svg) !important;
  position: absolute;
  display: flex;
  align-items: flex-end;
  right: 0;
  width: 35vw;
  height: 100%;
  background-color: transparent !important;
  opacity: 1 !important;
}
@media (min-width: 992px) {
  .is-style-flower-frame-one::after {
    width: 15vw;
    align-items: center;
  }
}

.is-style-flower-frame-two::after {
  content: url(../../svg/flor-03.svg) !important;
  position: absolute;
  display: flex;
  align-items: flex-end;
  right: 0;
  width: 50vw;
  height: 100%;
  transform: rotateY(180deg);
  background-color: transparent !important;
  opacity: 1 !important;
}
@media (min-width: 992px) {
  .is-style-flower-frame-two::after {
    width: 20vw;
  }
}

.is-style-flower-frame-three::before {
  content: url(../../svg/flor-04.svg) !important;
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 0;
  width: 50vw;
  height: 100%;
  background-color: transparent !important;
  opacity: 1 !important;
}
@media (min-width: 992px) {
  .is-style-flower-frame-three::before {
    width: 10vw;
  }
}

.is-style-flower-frame-four::before {
  content: url(../../svg/flor-05.svg) !important;
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 0;
  width: 50vw;
  height: 100%;
  background-color: transparent !important;
  opacity: 1 !important;
}
@media (min-width: 992px) {
  .is-style-flower-frame-four::before {
    width: 10vw;
  }
}
.is-style-flower-frame-four::after {
  content: url(../../svg/flor-06.svg);
  position: absolute;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  right: 0;
  width: 100vh;
  height: 100%;
  background-color: transparent !important;
  opacity: 1 !important;
}
@media (min-width: 992px) {
  .is-style-flower-frame-four::after {
    width: 38vw;
  }
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-mandarin-color {
  color: #ef773b !important;
}

.has-mandarin-background-color {
  background-color: #ef773b !important;
}

.has-maximum-green-yellow-color {
  color: #dde164 !important;
}

.has-maximum-green-yellow-background-color {
  background-color: #dde164 !important;
}

.has-nadeshiko-pink-color {
  color: #f3a7c0 !important;
}

.has-nadeshiko-pink-background-color {
  background-color: #f3a7c0 !important;
}

.has-medium-turquoise-color {
  color: #73c5c3 !important;
}

.has-medium-turquoise-background-color {
  background-color: #73c5c3 !important;
}

.has-shadow-blue-color {
  color: #7c91ae !important;
}

.has-shadow-blue-background-color {
  background-color: #7c91ae !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

/*# sourceMappingURL=gutenberg.css.map */
